<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Bookstore" parallel="true" thread-count="2">

    <listeners>
        <listener class-name="core.TestNGListener" />
    </listeners>

    <parameter name="baseUrl" value="https://fakerestapi.azurewebsites.net/api/v1/"/>

    <test name="/Users/jason/Documents/Intelij/allwyn/Bookstore">
        <classes>
            <class name="BooksTestHappyPaths"/>
            <class name="AuthorsTestHappyPaths"/>
        </classes>
    </test>

</suite>